<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/my}" >
        <label>Invoice Number</label>
        <input type="text" id="invoiceNumberId" name="invoiceNumber" placeholder="Invoice number"  value="ddddddddd">
        <label>Data faktury</label>
        <input type="datetime-local" id="purchaseDateId" name="purchaseDate" placeholder="Data wystawienia">
        <label>Description</label>
        <input type="text" id="descriptionId" name="description" placeholder="Opis" >
        <input type="submit" value="Submit">
      </form>
</body>
</html>